{% extends 'manager/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'client/index.css' %}">
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block main %}

    <div class="overlay"
         style="background-image: url('{% static 'client/img/child-bg.jpg' %}');">
        <div class="information">
            <div class="logo-box">
            <img class="logo" src="{% static 'client/img/logo.png' %}" alt="Family Pedigree Logo">
            <h1><span class="family">Family</span> <span class="pedigree">Pedigree</span></h1>
            </div>
            <h2>Family is everything.</h2>
            <form action="{% url 'client:app_index' %}" method="GET">
                <button>Go to the Family Tree App</button>
            </form>
        </div>
    </div>

{% endblock %}