{% extends 'manager/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'account/register.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
{% endif %}

<form class="login" action="{% url 'account:edit' %}" method="POST">
    {% csrf_token %}

    <img class="logo" src="{% static 'account/img/logo.png' %}" alt="Family Pedigree Logo">
    <h1><span class="family">Family</span> <span class="pedigree">Pedigree</span></h1>
    <h2>Register</h2>

    <ul class="form__name horizontal row">
        <li class="name__item control_item">
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </li>
        <li class="name__item control_item">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </li>
    </ul>

    <ul class="form__username horizontal row">
        <li class="name__item control_item">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
        </li>
        <li class="name__item control_item">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </li>
    </ul>

    <button class="login" type="submit">Update</button>

</form>
{% endblock %}