{% extends "manager/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
{% endif %}

<form class="login" action="{% url 'account:login' %}" method="POST">
    {% csrf_token %}

    <img class="logo" src="{% static 'account/img/logo.png' %}" alt="Family Pedigree Logo">
    <h1><span class="family">Family</span> <span class="pedigree">Pedigree</span></h1>

    <ul class="controls">
        <li class="control">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
        </li>
        <li class="control">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
        </li>
    </ul>

    <button class="login" type="submit">Login</button>

    <p class="register-link">Don't have an account yet? Register <a href="{% url 'account:register' %}">here</a>.</p>

</form>

{% endblock %}