{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"
      type="image/png"
      href="{% static 'account/img/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Overpass&family=Raleway&display=swap" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}Base{% endblock %} | Family Pedigree</title>
</head>
<body>
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block script %}{% endblock %}
</body>
</html>