{% load static %}

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Raleway";
}

html, body, main, div.overlay
{
    height: 100%;
    width: 100%;
}

div.overlay
{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo
{
    height: 100px;
    width: 100px;
}

h1 span.family, h1 span.pedigree
{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    text-shadow: 0px 0px 1px black;
}

h1
{
    padding: 20px;
}

span.family
{
    color: #ffc857;
}

span.pedigree
{
    color: #084c61;
}

.logo-box
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255,0.3);
}

.logo-box img
{
    display: block;
}

h1
{
    text-align: center;
}

@media only screen and (max-width: 500px) {
  .overlay
  {
    justify-content: center;
    align-items: center;
  }
}

.information
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

h2
{
    width: 100%;
    text-align: center;
    margin: 10px;
    color: white;
    text-shadow: 0px 0px 1px gray;
}

button
{
    width: 200px;
    height: 40px;
    outline: none;
    border: 0px;
    background: linear-gradient(to bottom right, red, orange);
    color: white;
    border-radius: 25px;
}

button:hover
{
    background: linear-gradient(to bottom right, orange, brown);
    cursor: pointer;
}

