*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    width: 100%;
    height: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #084c61;
    background: linear-gradient( to bottom right, #084c61, #177e89);

}

form.login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    padding: 20px;


}

.logo
{
    height: 100px;
    width: 100px;
}

ul
{
    list-style-type: none;
    width: 100%;
}

li
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

label
{
    font-size: 0.75rem;
}

form input
{
    height: 30px;
    padding: 5px;
    outline: none;
}

h1 span.family, h1 span.pedigree
{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

h1
{
    padding: 20px;
}

span.family
{
    color: #ffc857;
}

span.pedigree
{
    color: #084c61;
}

button.login
{
    width: 75%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient( to bottom right, #DB3A34, #ffc857);
    outline: none;
    margin: 10px;
    color: white;
}

p.register-link
{
    font-size: 0.75rem;
}

p.register-link a
{
    text-decoration: none;
    color: orange;
}

.horizontal
{
    display: flex;
    flex-direction: row;
}

.control_item
{
    display: inline-block;
}

.name__item
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row
{
    width: 100%;
}

p.message
{
    padding: 10px;
    font-size: 0.75rem;
    color: white;
}
